    body{
      margin: 0px;
    }
    #name {
      font-size: 50px;
      text-align: center;
      padding: 20px;
      margin: 0;
    }
    h3 {
      text-align: center;
      color: orange;
      margin:0px;
    }
    #para{
      text-align: center;
      border-bottom: 1px solid gray;
      margin: 0px;
    }
    ol {
      margin:20px;
      padding: 20px;
      padding-left: 10px;
      border-right: 1px solid gray;
      width: 150px;
      margin-top: 0px;
      margin-right : 40px;
    }
    #grid{
      display: grid;
      grid-template-columns: 250px 1fr;
    }
    a {
      color: black;
      text-decoration: none;
    }
   @media(max-width: 80px){
        #grid{
          display : block;
        }
       ol {
          border-right: none;
          border-bottom : 1px solid #4d2600;
          margin: 0px;
          padding-left : 20px;
          padding-right : 800px;
        }
        #cake {
          width : 95%;
          height : 280px;
        }
        .logo {
          width: 80%;
          height: 200px;
        }
        .pr {
          margin-bottom: 100px;
        }
      }
